<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">

    <link rel="stylesheet"
    href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        
    {{>header}}
     <h1> {{title}}</h1>
    <p>This site was created by Siddhant Singh.It uses data from mapbox.com and Weatherstack API!</p>
    <img class="portrait" src="/img/sample.png">


    </div>
    <address>
        <p>
Mail at <a href="mailto:siddhantsingh0705@gmail.com">siddhantsingh0705@gmail.com</a>.<br>
New Delhi,<br>
INDIA </p>
</address>
    {{>footer}}

</body>

</html>